#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; /* Aumenta el ancho para una mejor legibilidad */
    max-width: 600px; /* Limita el ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
    margin: 20px auto; /* Añade margen superior e inferior y centra horizontalmente */
    //padding: 20px;
    //border: 1px solid #ddd; /* Añade un borde sutil */
    border-radius: 8px; /* Redondea las esquinas */
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra ligera */
}

#contact h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Cambia el color del título */
}
 
.contacto {
    width: 100%;
}

.contacto label {
    display: block;
    margin-bottom: 8px;
    color: #555; /* Cambia el color de las etiquetas */
}

.contacto input,
.contacto textarea {
    width: calc(100% - 12px); /* Asegura que ocupen todo el ancho disponible restando el padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

.contacto textarea {
    resize: vertical; /* Permite redimensionar verticalmente el textarea */
    min-height: 150px;
}

.contacto button {
    background-color: #007bff; /* Cambia el color del botón */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease; /* Añade una transición suave al color de fondo */
}

.contacto button:hover {
    background-color: #0056b3; /* Cambia el color al pasar el ratón */
}