#home {
 height: 1000px;   
}
.personal {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   
.titulo-chevere {
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 48px;
}
.parrafo-ql {
    padding-bottom: 5px;
    margin-bottom: 5px; 
    font-size: 20px;
}
.show-proyects {
    height: 455px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    border: 1px solid #dee2e6;
    background-color: aqua;
}
.proyects {
    height: 100%;
    width: 50%;
   // border: 1px solid #000;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-ecommerce {
    height: 100%;
    width: 50%;
   
}   
.div-image-ecommerce {
    display: flex;
    justify-content: center;
    align-items: center;
}


#about{
    height: 500px;
}
#portfolio{
    height: 500px;
}
#contact{
    height: 500px;
}