#home {
    height: 1000px;   
   }
   .personal {
       height: 500px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }   
   .titulo-chevere {
       padding-bottom: 5px;
       margin-bottom: 5px;
       font-size: 48px;
   }
   .parrafo-ql {
       padding-bottom: 5px;
       margin-bottom: 5px; 
       font-size: 20px;
   }
#about{
    height: 300px;
}
#portfolio{
    height: 300px;
}
#contact{
    height: 300px;
}